@font-face {
    font-family: 'Arita-buri-Light';
    src: asset-url('Arita-buri-Light.eot');
    src: asset-url('Arita-buri-Light.eot?#iefix') format('embedded-opentype'),
           asset-url('Arita-buri-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arita-dotum-Light';
    src: asset-url('Arita-dotum-Light.eot');
    src: asset-url('Arita-dotum-Light.eot?#iefix') format('embedded-opentype'),
           asset-url('Arita-dotum-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Binggrae';
    src: asset-url('Binggrae.eot');
    src: asset-url('Binggrae.eot?#iefix') format('embedded-opentype'),
           asset-url('Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMDOHYEON';
    src: asset-url('BMDOHYEON.eot');
    src: asset-url('BMDOHYEON.eot?#iefix') format('embedded-opentype'),
           asset-url('BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMJUA';
    src: asset-url('BMJUA.eot');
    src: asset-url('BMJUA.eot?#iefix') format('embedded-opentype'),
           asset-url('BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMYEONSUNG';
    src: asset-url('BMYEONSUNG.eot');
    src: asset-url('BMYEONSUNG.eot?#iefix') format('embedded-opentype'),
           asset-url('BMYEONSUNG.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BusanBada';
    src: asset-url('BusanBada.eot');
    src: asset-url('BusanBada.eot?#iefix') format('embedded-opentype'),
           asset-url('BusanBada.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CHONBUKL';
    src: asset-url('CHONBUKL.eot');
    src: asset-url('CHONBUKL.eot?#iefix') format('embedded-opentype'),
           asset-url('CHONBUKL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: asset-url('Chosunilbo_myungjo.eot');
    src: asset-url('Chosunilbo_myungjo.eot?#iefix') format('embedded-opentype'),
           asset-url('Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Daehan';
    src: asset-url('Daehan.eot');
    src: asset-url('Daehan.eot?#iefix') format('embedded-opentype'),
           asset-url('Daehan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GabiaBombaram';
    src: asset-url('GabiaBombaram.eot');
    src: asset-url('GabiaBombaram.eot?#iefix') format('embedded-opentype'),
           asset-url('GabiaBombaram.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GabiaSolmee';
    src: asset-url('GabiaSolmee.eot');
    src: asset-url('GabiaSolmee.eot?#iefix') format('embedded-opentype'),
           asset-url('GabiaSolmee.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GIMJE-L';
    src: asset-url('GIMJE-L.eot');
    src: asset-url('GIMJE-L.eot?#iefix') format('embedded-opentype'),
           asset-url('GIMJE-L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GyeonggiBatang';
    src: asset-url('GyeonggiBatang.eot');
    src: asset-url('GyeonggiBatang.eot?#iefix') format('embedded-opentype'),
           asset-url('GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GyeonggiTitleM';
    src: asset-url('GyeonggiTitleM.eot');
    src: asset-url('GyeonggiTitleM.eot?#iefix') format('embedded-opentype'),
           asset-url('GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HSBombaram';
    src: asset-url('HSBombaram.eot');
    src: asset-url('HSBombaram.eot?#iefix') format('embedded-opentype'),
           asset-url('HSBombaram.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'InkLipquid';
    src: asset-url('InkLipquid.eot');
    src: asset-url('InkLipquid.eot?#iefix') format('embedded-opentype'),
           asset-url('InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KimNamyun';
    src: asset-url('KimNamyun.eot');
    src: asset-url('KimNamyun.eot?#iefix') format('embedded-opentype'),
           asset-url('KimNamyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeeHyunJi';
    src: asset-url('LeeHyunJi.eot');
    src: asset-url('LeeHyunJi.eot?#iefix') format('embedded-opentype'),
           asset-url('LeeHyunJi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Makgeolli';
    src: asset-url('Makgeolli.eot');
    src: asset-url('Makgeolli.eot?#iefix') format('embedded-opentype'),
           asset-url('Makgeolli.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NapjakBlock';
    src: asset-url('NapjakBlock.eot');
    src: asset-url('NapjakBlock.eot?#iefix') format('embedded-opentype'),
           asset-url('NapjakBlock.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OSeongandHanEum';
    src: asset-url('OSeongandHanEum.eot');
    src: asset-url('OSeongandHanEum.eot?#iefix') format('embedded-opentype'),
           asset-url('OSeongandHanEum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PurenJeonnam';
    src: asset-url('PureunJeonnam.eot');
    src: asset-url('PureunJeonnam.eot?#iefix') format('embedded-opentype'),
           asset-url('PureunJeonnam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SDMiSaeng';
    src: asset-url('SDMiSaeng.eot');
    src: asset-url('SDMiSaeng.eot?#iefix') format('embedded-opentype'),
           asset-url('SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SeoulHangangM';
    src: asset-url('SeoulHangangM.eot');
    src: asset-url('SeoulHangangM.eot?#iefix') format('embedded-opentype'),
           asset-url('SeoulHangangM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SeoulNamsanM';
    src: asset-url('SeoulNamsanM.eot');
    src: asset-url('SeoulNamsanM.eot?#iefix') format('embedded-opentype'),
           asset-url('SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Swagger';
    src: asset-url('Swagger.eot');
    src: asset-url('Swagger.eot?#iefix') format('embedded-opentype'),
           asset-url('Swagger.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ThecircleM';
    src: asset-url('ThecircleM.eot');
    src: asset-url('ThecircleM.eot?#iefix') format('embedded-opentype'),
           asset-url('ThecircleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TmonMonsori';
    src: asset-url('TmonMonsori.eot');
    src: asset-url('TmonMonsori.eot?#iefix') format('embedded-opentype'),
           asset-url('TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WONBatang';
    src: asset-url('WONBatang.eot');
    src: asset-url('WONBatang.eot?#iefix') format('embedded-opentype'),
           asset-url('WONBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WONDotum';
    src: asset-url('WONDotum.eot');
    src: asset-url('WONDotum.eot?#iefix') format('embedded-opentype'),
           asset-url('WONDotum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YanoljaYacheR';
    src: asset-url('YanoljaYacheR.eot');
    src: asset-url('YanoljaYacheR.eot?#iefix') format('embedded-opentype'),
           asset-url('YanoljaYacheR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YiSunShinDotumM';
    src: asset-url('YiSunShinDotumM.eot');
    src: asset-url('YiSunShinDotumM.eot?#iefix') format('embedded-opentype'),
           asset-url('YiSunShinDotumM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YiSunShinRegular';
    src: asset-url('YiSunShinRegular.eot');
    src: asset-url('YiSunShinRegular.eot?#iefix') format('embedded-opentype'),
           asset-url('YiSunShinRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YoonSAH';
    src: asset-url('YoonSAH.eot');
    src: asset-url('YoonSAH.eot?#iefix') format('embedded-opentype'),
           asset-url('YoonSAH.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YoonSDJ';
    src: asset-url('YoonSDJ.eot');
    src: asset-url('YoonSDJ.eot?#iefix') format('embedded-opentype'),
           asset-url('YoonSDJ.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YoonSHO';
    src: asset-url('YoonSHO.eot');
    src: asset-url('YoonSHO.eot?#iefix') format('embedded-opentype'),
           asset-url('YoonSHO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YoonSHS';
    src: asset-url('YoonSHS.eot');
    src: asset-url('YoonSHS.eot?#iefix') format('embedded-opentype'),
           asset-url('YoonSHS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YoonSJH';
    src: asset-url('YoonSJH.eot');
    src: asset-url('YoonSJH.eot?#iefix') format('embedded-opentype'),
           asset-url('YoonSJH.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YoonSJY';
    src: asset-url('YoonSJY.eot');
    src: asset-url('YoonSJY.eot?#iefix') format('embedded-opentype'),
           asset-url('YoonSJY.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YoonSMJ';
    src: asset-url('YoonSMJ.eot');
    src: asset-url('YoonSMJ.eot?#iefix') format('embedded-opentype'),
           asset-url('YoonSMJ.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YoonSSH';
    src: asset-url('YoonSSH.eot');
    src: asset-url('YoonSSH.eot?#iefix') format('embedded-opentype'),
           asset-url('YoonSSH.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YunTaemin';
    src: asset-url('YunTaemin.eot');
    src: asset-url('YunTaemin.eot?#iefix') format('embedded-opentype'),
           asset-url('YunTaemin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KoPubDotumMedium';
    src: asset-url('KoPubDotumMedium.eot');
    src: asset-url('KoPubDotumMedium.eot?#iefix') format('embedded-opentype'),
           asset-url('KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
